// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'fabrica';
    src: url('./../assets/fonts/fabrica-webfont.woff2') format('woff2'),
         url('./../assets/fonts/fabrica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nevis';
    src: url('./../assets/fonts/nevis-webfont.woff2') format('woff2'),
         url('./../assets/fonts/nevis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}