// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/** 
 * Surrounds the page and transitions when the mobile navigation drawer is opened
 */
#page-container {
  -webkit-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
  -moz-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
  -ms-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
  -o-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
  transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
  &.nav-open {
    transform:translateX(-250px);
  }
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: $max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  width: 100%; /* 1 */

  @include respond-to('medium') {
      padding-left: 20px; /* 3 */
      padding-right: 20px; /* 3 */
  }
 }

 .sm-container {
   @extend .container;
   max-width: 750px;
 }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden { 
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * A flex alternative to floating content.
 * Add this to a span between to elements to make them align to the left and right.
 */
.spacer {
  flex: auto;
}

/**
 * Place class on parent when child elements should be vertically aligned.
 */
.vert-align {
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

/**
 * Similar to vert-align but centers children horizontally as well.
 */
.flex-center {
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
  justify-content: center;
}

.align-center {
  text-align: center;
}

.flex-centered-container {
  display: flex;
  align-items: center;
}

.centered {
 position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-benefits{
  position: relative;
  width:60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include respond-to("large"){
    width:90%;
    transform: translate(-50%, -50%);
  }
}

.centered-full-width {
  @extend .centered;
  width: 100%;
}

.centered-background-image {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

/**
 * Make the div element look as though it is raised off the page
 */
.raised-effect {
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

/**
 * Apply to parent class when child is positioned absolute
 */
.absolute-container {
  position: relative;
}
