/**
 * Basic typography style for copy text
 */
body {
  color: $primary-text-color;
  font: normal 125% / 1.4 $body-font;
}

a, span {
  font: normal 80% $header-font;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: nevis;
}
