// -----------------------------------------------------------------------------
// This file contains all styles related to the 404 page.
// -----------------------------------------------------------------------------
.error404 footer,
.error404 header {
    display: none;
}

.content-404 {
    text-align: center;
    font-size: .7em;

    & > img {
        max-width: 7em;
    }

    & > h4 {
        margin: 0;
    }

    & p {
        font-size: .8em;
        color: $mid-grey;
    }

    & a {
        font: $body-font;
        font-size: 1em;
        text-decoration: underline;
        text-transform: none;
    }

    @include respond-to('small') {
        font-size: .8em;
    }

    @include respond-to('medium') {
        font-size: 1em;
    }
}