// -----------------------------------------------------------------------------
// This file contains all styles related to the contact page.
// -----------------------------------------------------------------------------
.contact-section {
    padding: 1em;
    font-size: .9em;

    &:nth-child(even){
        background-color: $lightest-grey;
    }

    & .pure-u-md-1-2 {
        width: 100%;

        @include respond-to('medium'){
            width: 50%;
        }
    }

    @include respond-to('small') {
        font-size: 1em;
    }

    @include respond-to('medium') {
        padding: 3em;
    }
}

.contact-description {
    padding: 0;
    margin-bottom: 2em;

    & p {
        font-size: .8em;
    }

    @include respond-to('medium') {
        padding: 0 3em;
        margin-bottom: 0;
    }
}

.contact-method {
    margin: 1em 0;

    & > .contact-icon {
        width: 2.5em;
        margin-right: 1em;
    }
}

#contact-form {
     width:100%;
    @include respond-to('large'){
        width:50%;
    }
    & label {
        font-family: $header-font;
        font-size: .8em;
        color: $mid-grey;
        margin-bottom: .5em;
        margin-left: .2em;
    }
}

#map {
    height: 300px;
    width: 100%;
    border: none;
}

.map-section{
    width:100%;
    @include respond-to('large'){
        width:50%;
    }
}

// Form specific fields
#wpforms-86-field_0,
#wpforms-86-field_1,
#wpforms-86-field_2{
    border-style: none;
    font-family: $body-font;
    width:100%;
    font-size:14px;   
    background-color:$lightest-grey;
    border-color:$lightest-grey;
    border-width: 2px;
    border-style: solid;
}

#wpforms-86-field_0:focus,
#wpforms-86-field_1:focus,
#wpforms-86-field_2:focus{
  border-color: $dark-blue;
}

#wpforms-86-field_2{
    padding:20px;   
    border-radius: 30px;    
    font-size: 14px;
}
#wpforms-86-field_0,
#wpforms-86-field_1{
    border-radius: 10px;    
    padding:7px 15px;   
}

#wpforms-submit-86{
    background-color: $secondary-color;
    border-radius: 15px;
    color: $white;
    font-size: .7em;
    font-family: $header-font;
    width: 150px;
    height:45px;
    margin: 25px auto;
    display: block;
}