// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
header.landing-header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: transparent;

    // Don't display the tpa logo on the home page
    & > a {
        display: none;
    }

    & .md-navigation {
        & a {
            color: $secondary-text-color;
        }

        & .sub-menu {
            padding: 5px 0;
            background-color: transparent;
        }
    }
}

#sm-menu-toggle.landing-header {
    & span {
        color: $secondary-text-color;
    }
}

.landing-screen {
    background-image: url('../assets/img/landing-page-image.jpg');
    height: 100vh;

    &:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(3,84,92,0.75);
        z-index: 1;
    }
}

.landing-screen__logo {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 4.5em;
    z-index: 5;

    @include respond-to('small') {
        width: 5em;
    }

    @include respond-to('medium') {
        width: 6em;
    }
}

.landing-screen__content {
    color: $secondary-text-color;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    font-size: .8em;
    animation: moveRightFadeIn 2s;
    padding: 0 2em;

    & * {
        z-index: 5;
    }

    & > h1 {
        &:first-of-type(){
            margin-top: 0;
        }

        &:last-of-type(){
            margin-bottom: 0;
        }
    }

    @include respond-to('small') {
        font-size: 1em;
    }

    @include respond-to('medium') {
        font-size: 1.2em
    }
}

#arrow-down {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    animation-duration: 1.5s;
    animation-name: jumpForJoy;
    animation-iteration-count: infinite;
    animation-direction: normal;

    & > img {    
        width: 3.5em;
    }
}

.landing-page__testimonial-block {
    background-color: $black;
    color: $secondary-text-color;
    font-size: .8em;
}

.landing-page__container {
    padding: 3em .5em;

    @include respond-to('medium'){
        padding: 3em 2em;
    }
}

.landing-page__services {
    padding: 1em;

    @include respond-to('medium') {
        padding: 3em;
    }
}

.landing-page__service-header {
    padding-left: .5em;

    @include respond-to('medium'){
        padding-left: 0;
    }
}

.landing-page__service {
    @extend .raised-effect;
    background-color: $lightest-grey;
    position: relative;
    padding-bottom: 30px;
    margin-top: 3em;

    & p {
        font-size: .8em;
        padding: 1.4em;
    }

    & a.btn {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &:last-of-type{
        @include respond-to('medium'){
            margin-top: 3em;
        }

        @include respond-to('large'){
            margin-top: 0;
        }
    }

    @include respond-to('medium'){
        margin-top: 0;
    }

    // width:100%;
    // margin: 1em auto;
    
    // & > img {
    //     max-width: 4em;
    // }

    // & .landing-page__divider {
    //     height: 5px;
    //     background-color: $lightest-grey;
    //     width: 90%;
    //     margin: 0 auto 1em;
    // }

    // & > .landing-page__service-benefits {
    //     font-size: .85em;

    //     & .landing-page__service-benefit {
    //         padding: 0 2em;

    //         & > img {
    //             max-width: 2em;
    //             margin-right: 1em;
    //         }
    //     }

    //     @include respond-to('medium') {
    //         font-size: 1em;
    //     }
    // }

    // @include respond-to('medium'){
    //     width: 33.33333%;
    //     margin: 0;
    // } 
}

.landing-page__service-image {
    height: 200px;

    & > h2 {
        color: $white;
        margin: 0;
        z-index: 5;
        width: 100%;
        text-align: center;
    }
    
    &:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.4);
        z-index: 1;
    }
}

.landing-page__our-team-content {
    background-color: $service-blue;
    color: $secondary-text-color;
    padding: 1em;
    font-size: .85em;
    order: 2;

    & h2 {
        margin-bottom: 2em;
    }

    & p {
        font-size: .9em;

        &:last-of-type {
            margin-bottom: 3em;
        }
    }
    
    & a.btn {
        font-size: 1.1em;
        float: right;
    }

    @include respond-to('medium') {
        padding: 3em;
        font-size: 1em;
        order: inherit;
    }
}

.landing-page__our-team-image {
    width: 100%;
    height: 250px;
    
    @include respond-to('medium'){
        width: 50%;
        height: auto;
    }
}

.landing-page__contact-header {
    margin-top: 2em;
}

@keyframes moveRightFadeIn {
    from {
        opacity: 0;
        transform: translate(-50px, -50%);
    }

    to {
        opacity: 1;
        transform: translateX(0, -50%);
    }
}

@keyframes jumpForJoy {
    0% {
        transform: translate3d(0,-10%,0);
        -o-transform: translate3d(0,-10%,0);
        -ms-transform: translate3d(0,-10%,0);
        -moz-transform: translate3d(0,-10%,0);
        -webkit-transform: translate3d(0,-10%,0);
    }

    75% {
        transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(0,-10%,0);
        -o-transform: translate3d(0,-10%,0);
        -ms-transform: translate3d(0,-10%,0);
        -moz-transform: translate3d(0,-10%,0);
        -webkit-transform: translate3d(0,-10%,0);
    }
}