// -----------------------------------------------------------------------------
// This file contains styles that are specific to the team page.
// -----------------------------------------------------------------------------
.solid-banner.team-banner {
    background-color: #054A91;
}

.testimonial-block {
    background-color: $dark-grey;
    color: $secondary-text-color;
    font-size: 0.7em;

    & h1 {
        margin: 0;
        padding-top: 50px;
        font-size: 3em;
        text-align: center;
    }

    & h2 {
        margin: 0;
        font-size: 2em;
        text-align: center;
    }

    @include respond-to('small') {
        font-size: 0.8em;
    }
}

.testimonials {
    padding: 40px 0;
    font-size: 0.9em;
}