// -----------------------------------------------------------------------------
// This file contains all styles related to the services page.
// -----------------------------------------------------------------------------
.final-services-section {
    padding: 40px 20px;
    font-size: .7em;

    & > div {
        position: relative;
    }

    & h6 {
        font-size: 1.6em;
        margin: 0 0 40px 0;
    }

    & p {
        font-size: .8em;
    }

    .btn-container {
        margin: 20px 0;
    }

    & a.btn {
        position: relative;
        margin: 0 auto;
        transform: none;
        top: 0;

        @include respond-to('medium') {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @include respond-to('small') {
        padding: 40px 80px;
        font-size: 1em;
    }

    @include respond-to('large') {
        padding: 40px 120px;
        font-size: 1em;
    }

}