// -----------------------------------------------------------------------------
// This file contains all styles related to the single blog post page.
// -----------------------------------------------------------------------------
.single-blog-post {
    padding: 0 20px;
    font-size: .9em;

    @include respond-to('small') {
        font-size: 1em;
    }
}

.single-blog-meta {
    margin: 2em 0;
    display: block;
    text-align: center;

    @include respond-to('medium') {
        display: flex;
        text-align: inherit;
    }
}

.single-blog-header {
    font-size: 1.4em;
    margin: .5em 0;
}

.single-blog-author {
    color: $mid-grey;
    font-size: .8em;
    margin: .5em 0;
}

.single-post__blog-author-img {
    @extend .blog-author-img;
    float:right;
}

.single-blog-content {
    font-size: .7em;
    padding: 0 2em;
    margin-bottom: 8em;
}

.single-blog-content p {
    line-height: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-before: 2em;
}

.single-blog-content ul > li {
    display: list-item;
    -webkit-margin-after: 1.5em;
    -webkit-margin-before: 1.5em;
}

.single-blog-content ol > li {
    display: list-item;
    -webkit-margin-after: 1.5em;
    -webkit-margin-before: 1.5em;
}

.single-blog-content p > a {
    text-transform: none;
    text-decoration: underline;
    color: #1B998B;
    font: 400 125%/1.4 fabrica,"Open Sans","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
}