// -----------------------------------------------------------------------------
// This file contains all styles related to ANY single service page (i.e. websites, web-apps, support etc).
// -----------------------------------------------------------------------------
.single-service__section {
    padding: 4em 0;

    & a.btn {
        font-size: 1.2em;
    }

    & h4 {
        text-align: center;
    }

    &.align-center {
        & .single-service__underline {
            margin: 0 auto 50px auto;
        }
        & .single-service__header{
            text-align: center;
        }
    }
}
.single-service__block-description{
    position:relative;
}

.single-service__block-description >div{
    position:relative;
    z-index: 1;
}

.single-service__block-description,
.single-service__content {
      padding: 1em;

     & p{
          font-size: .7em;
          z-index:2;
     }
     
     @include respond-to('small') {
          padding: 2em;
        & p{
                font-size: .95em;
            }           
        }

     @include respond-to('medium') {
          padding: 3em;
         & p{
             font-size: 1em;
            }           
        }
    & .single-service__header {
            text-align: center;
            @include respond-to('small'){
                text-align:left;
                } 
            }

    &:nth-of-type(even){
        & .single-service__header {
            text-align: center;            
            @include respond-to('small'){
                text-align:right;
                } 
            }
        & .single-service__underline {          
            @include respond-to('small'){   
                 margin: 0 0 50px auto      
            }
        }        
    }
    & a{
        color: $white;
        text-transform: lowercase;
        font-family: $body-font;
        font-size:1em;
        text-decoration: underline;
    }
}

.single-service__header {
    margin: 0 0 .4em 0;  
}

.single-service__underline {
    width: 4em;
    height: 4px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 4px;
    margin-bottom: 50px;
    @include respond-to('small'){ 
        margin: 0 0 50px 4px;
    }    

    &.web-apps {
        background-color: $service-blue;
    }

    &.support {
        background-color: $service-orange;
    }
}

.single-service__block {
    color: $secondary-text-color;

    &.web-apps {
        background-color: $service-blue;
    }

    &.support {
        background-color: $service-orange;
        overflow: hidden;
    }
}

.single-service__list {
    &.types-of-web-apps .single-service__list-item-image{
        margin-left:auto;
        margin-right:auto;
    }
    &.web-app-benefits {
        font-size:.8em;
        &.single-service__list-item{
            
            width:100%;
            @include respond-to('small'){
                width:50%;
            }
        }

        & p.single-service__list-item-text {
            font-size:1em;

            @include respond-to('small'){
                font-size: 1.2em;
            }
        }
    }

    & .single-service__list-item {
        margin-bottom: 1.5em;    
    }
}

.single-service__list-item-image {    
    padding:0.5em;
    & img {
        width: 3em;
    }
}

// Support-specific css
.support-service__benefit {
    margin-top: 2em;
    width:100%;

    & > img {
        max-width: 4em;
    }

    & p {
        font-size: .7em;
        width: 75%;
        margin: 1em auto;
    }    
     
     @include respond-to('small') {
         width:50%;
        & p{
                font-size: .95em;
            }           
        }

     @include respond-to('medium') {
         width:25%;
         & p{
             font-size: 1em;
            }           
        }
}