// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    height: 225px;
    background-color: $black;
    position: relative;
}

.footer-navigation {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;

    & > li {
        
        &:after {
            color: $secondary-text-color;
            content: "|";
            display: inline-block;
            font-size: 14px;
            margin: 0 5px;
        }

        &:last-child:after{
            content: '';
        }

        & > a {
            font-size: 14px;
            color: $secondary-text-color;
        }
    }
}

#footer-address {
    color: $light-grey;
    margin: 0;
    text-align: center;
    font-size: .7em;
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    color: $secondary-text-color;
    font-family: $body-font;
    padding: 10px;
    text-transform: none;
}