// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    height: 75px;
    background-color: $background-color;
    padding: 0 20px;

    @include respond-to('small'){
        padding: 0 50px;
    }

}

.header-logo {
    width: 40px;
}