// -----------------------------------------------------------------------------
// This file contains all styles specific to the mobile navigation section of the site/application.
// Note that classes applying to both mobile and "desktop" navigation menus can be found in _navigation.scss.
// -----------------------------------------------------------------------------
#sm-menu-toggle {
    display: block;

    @include respond-to('medium') {
        display: none;
    }

    & > img {
        width: 20px;
        margin-left: 10px;
    }
}

.sm-navigation {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    right: -250px;
    width: 250px;
    padding: 20px 15px 15px;
    z-index: 10;
    background-color: #1c1d1d;
    -webkit-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
    -moz-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
    -ms-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
    -o-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
    transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);

    &.open {
        transform: translateX(-250px);
    }

    & > a {
        display: block;
        text-align: right;
        color: $secondary-text-color;
    }

    & .sm-menu {
        padding: 0;
        margin: 0;

        & > li.current-menu-item > a:after,
        & > li.current-page-ancestor > a:after {
            background: none repeat scroll 0 0 $light-orange;
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            width: 75%;
            left: 50%;
            margin-left: -37.5%;
        }
    }

    & li {
        display: block;
        text-align: center;
        padding-top: 15px;

        & a {
            color: $secondary-text-color;
            position: relative;
        }
    }
}