// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation section of the site/application.
// -----------------------------------------------------------------------------
.md-navigation {
    display: none;

    & a {
        margin-left: 15px;
        position: relative;
        display: inline-block;
    }

    & > li.current-menu-item > a:after,
    & > li.current_page_parent > a:after {
        background: none repeat scroll 0 0 $light-orange;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        width: 75%;
        left: 50%;
        margin-left: -37.5%;
    }

    @include respond-to('medium') {
        display: block;
    }
}

li:hover .sub-menu {
    opacity:1;
    z-index:2; 
}

.sub-menu {
    width:140%;
    padding:20px 0px;
    position:absolute;
    z-index: -1;
    top:100%;
    left:0px;
    opacity:0;
    transition:opacity linear 0.15s;
    background: $background-color;
}

.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 15px;
    display:block;
}