// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family
/// @type List
$body-font: 'fabrica', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$header-font: 'nevis', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



/// Brand colours
/// @type Color
$light-blue: #01C8D5;
$mid-blue: #01A2AC;
$dark-blue: #017C83;

$light-orange: #FF8A30;
$mid-orange: #FF6F00;
$dark-orange: #CC5900;

$light-green: #B6D056; 
$mid-green: #A1BF35;
$dark-green: #869F2C;

$secondary-color: #03545C;
$service-green: #1B998B;
$service-blue: #3D5A80;
$service-orange: #FF8552;

$lightest-grey: #e5e5e5;
$light-grey: #b7b7b7;
$mid-grey: #7b7b7b;
$dark-grey: #444444;

$white: #f5f5f5;
$black: #232323;


/// Colours by usage
/// @type Color
$primary-text-color: $black;
$secondary-text-color: $white;

$background-color: $white;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': (min-width: 568px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
