// -----------------------------------------------------------------------------
// This file contains all styles related to the banner component to be inherited in both image-banner and solid-banner.
// -----------------------------------------------------------------------------
.banner {
    position: relative;
    text-align: center;
    color: $secondary-text-color;

    & > div {
        width: 100%;
        max-width: 640px;
    }

    & h5 {
        font-size: 24px;
        margin: 0;
        font-family: $header-font;

        @include respond-to('small'){
            font-size: 32px;
        }
    }

    & h6 {
        font-size: 14px;
        line-height: 22px;
        margin: 20px 20px 0;
        font-family: $header-font;

        @include respond-to('small'){
            font-size: 20px;
        }
    }
}