// -----------------------------------------------------------------------------
// This file contains all styles related to the blog component.
// -----------------------------------------------------------------------------
.blog-collection {
    margin-bottom: 50px;
}

.blog-post {
    font-size: 0.8em;
    position: relative;
    margin: 10px 0;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);

    // Link to the full post.
    & > a {
        position: absolute;
        height: 100%;
        width: 100%;

        pointer-events: auto; 
        cursor: pointer;

        @include respond-to('medium'){
            pointer-events: none;
            cursor: default;
        }
    }

    @include respond-to('small'){
        margin: 10px 10px;
    }

    // Styling for the featured blog posts
    &.featured {
        font-size: 0.8em;

        & > .blog-image {
            width: 100%;
            height: 200px;

            @include respond-to('small') {
                width: 62.5%;
                height:auto;
            }
        }
    }
}

.blog-image {
    height:150px;
    width: 100%;
}

.blog-info {
    padding: 5px 15px;
    background-color: #fff;

    @include respond-to('medium') {
        padding: 20px 40px;
    }
}

.blog-header {
    margin: 10px 0;
    font-size: 1.4em;
}

.blog-excerpt {
    font-size: 0.8em;
    margin-bottom: 1em;

    @include respond-to('medium'){
        margin-bottom: 30px;
    }
}

.blog-author-img {
    display: none;
    border-radius: 10px;

    @include respond-to('medium'){
        display: block;
    }
}

// The blog image displayed on md-devices
.md-blog-author-img {
    border-radius: 10px;
    @include respond-to('medium'){
        display: none;
    }
}

// The container for the author image and 'Read More' button
.blog-meta {
    display: none;

    @include respond-to('medium') {
        display: flex;
    }
}