// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
a.btn {
    padding: 10px 20px;
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,.25);
    color: $white;
    text-align: center; 

    &.primary{
        @include button-theme($light-orange, $white);
    }

    &.secondary{
        @include button-theme($mid-blue, $white);
    }

    &.tertiary{
        @include button-theme($mid-green, $white);
    }

    &.quaternary{
        @include button-theme($secondary-color, $white);
    }

    &.service-website {
        @include button-theme($service-green, $white);
    }

    &.service-web-app {
        @include button-theme($service-blue, $white);
    }

    &.service-support {
        @include button-theme($service-orange, $white);
    }

    &.lowercase {
        text-transform: none;
    }
}