// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------
.icons{
    text-align: center;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 25px;  
    position: relative;
    margin: 0 5px;

    @include respond-to('small'){
        width: 45px;
        height: 45px;
    }

    &.facebook {
        background-color: #588AFF;

        & > img {
            width: 7px;

            @include respond-to('small') {
                width: 12px;
            }
        }
    }

    &.twitter {
        background-color: #00ACED;

        & > img {
            width: 14px;

            @include respond-to('small') {
                width: 25px;
            }
        }
    }

    &.google-plus {
        background-color: #F60920;

        & > img {
            width: 14px;

            @include respond-to('small') {
                width: 25px;
            }
        }
    }

    &.skill {
        background-color: $dark-grey;

        & > img {
            width: 60%;
        }
    }
}