// -----------------------------------------------------------------------------
// This file contains all styles related to the image banner component.
// -----------------------------------------------------------------------------
.image-banner {
    @extend .banner;
    
    height: 250px;

    & > div {
        // Ensures the text isn't behind the black image overlay.
        z-index: 5;
    }

    &.black:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.6);
        z-index: 1;
    }

    &.secondary-color:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(3,84,92,0.6);
        z-index: 1;
    }

    @include respond-to('small') {
        height: 400px
    }

    @include respond-to('medium'){
        height: 500px;
    }
}