// -----------------------------------------------------------------------------
// This file contains all styles related to the package component on the website service page.
// -----------------------------------------------------------------------------
.package {
    font-size: .7em;
    padding: 20px 20px;

    &:nth-child(odd) {
        background-color: $service-green;
        color: $white;
    }

    &:nth-child(even) {
        background-color: $white;
        color: $service-green;
    }

    @include respond-to('small') {
        font-size: .8em;
        padding: 20px 80px;
    }

    @include respond-to('medium') {
        font-size: 1em;
    }
}

.package-header {
    justify-content: center;

    & > img {
        width: 3em;
    }

    & > h4 {
        font-size: 1.5em;
        margin: 1em;
        text-transform: uppercase;
    }

    @include respond-to('medium'){
        justify-content: inherit;
    }
}

.technology-icons {
    text-align: center;

    & > img {
        width: 2em;
        margin: 1em .4em;
    }
}

#shopify-logo {
    width: 4em;
}

.benefits {
    //display: none;
    position: relative;
    width:100%;
     @include respond-to('large') {
         width:50%;
     }
}

.benefit {
    & > img {
        max-width: 2em;
    }

    & > h6 {
        font-size: 1.3em;
        margin: .4em 1em;
    }
}

.package-price {
    width: 100%;
    margin: 1em;

    & > h5 {
        font-size: 1.2em;
        margin: .5em;
    }
}