// -----------------------------------------------------------------------------
// This file contains all styles related to the process component.
// -----------------------------------------------------------------------------

// The Process section
.overlap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20rem;
    background: $service-green;
}

.process-section {
    background-color: $service-blue;
    position: relative;
    padding-bottom: 3em;
}

.process {
    background-color: $white;
    color: $mid-grey;
    position: relative;
    margin: auto;
    width: 90%;
    font-size:.7em;
    max-width: 750px;
    border-radius: 35px;
    padding: 0 3em 3em;

    & > .section-header {
        margin: 2em 0 1em;
    }

    & p {
        font-size: .9em;
    }

    & .arrow {
        max-width: 30px;
        margin: 1em 0;
    }

    & .happy-client {
        display: block;
        margin: auto;
        width: 8em;
    }

    @include respond-to('small'){
        font-size: .8em;
    }

    @include respond-to('medium'){
        font-size: 1em;
    }
}

.process-header {
    & > img {
        width: 3em;
    }

    & > h4 {
        font-size: 1.5em;
        margin: 1em;
    }
}