// -----------------------------------------------------------------------------
// This file contains all styles related to the section header component.
// -----------------------------------------------------------------------------
h1.section-header {
    position: relative;
    color: $dark-grey;
    text-transform: uppercase;
    text-align: center;
    display:inline-block;
    font-size: 1em;
    margin: 2em 0;


    @include respond-to('medium') {
        font-size: 2em;
    }

    @include respond-to('small') {
        font-size: 1.5em;
        
        &:before {
            background: none repeat scroll 0 0 $dark-grey;
            content: "";
            display: block;
            height: .3em;
            position: absolute;
            width: 35%;
            left: -45%;
            top: 50%;
            transform: translateY(-50%);
        }
        
        &:after {
            background: none repeat scroll 0 0 $dark-grey;
            content: "";
            display: block;
            height: .3em;
            position: absolute;
            width: 35%;
            left: 110%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}