// -----------------------------------------------------------------------------
// This file contains all styles related to the service header component.
// -----------------------------------------------------------------------------
.service-header {
    text-transform: uppercase;
    font-size: 1.75em;

    &.website {
        color: $dark-blue;
    }
}