// -----------------------------------------------------------------------------
// This file contains all styles related to the services component.
// -----------------------------------------------------------------------------
.service {
    padding: 40px 0;
    position: relative;
    overflow: hidden;

    & > div {
        height: 100%;
    }

    &.websites {
        background-color: #1B998B;
        margin-bottom: 0;

        @include respond-to('small'){
            margin-bottom: -100px;
        }
        
        @include respond-to('large'){
            margin-bottom: 0;
        }
    }

    &.web-apps {
        z-index: 5;
        background-color: #3D5A80;
    }

    &.support {
        background-color: #FF8552;
    }

    @include respond-to('small') {
        padding: 80px 0;
    }

    @include respond-to('large') {
        padding: 180px 40px;
    }
}

.service-overview {
    padding: 0 20px;
    margin-bottom: 0;
    text-align: left;
    font-size: .7em;
    color: $white;
    order: 2;
    z-index:1;
    // Service header
    & > h1 {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-size: 2.4em;

        &:after {
            background: none repeat scroll 0 0 $white;
            content: "";
            display: block;
            height: 10px;
            position: absolute;
            width: 75%;
        }
    }

    & > a.btn {
        float: right;
    }

    @include respond-to('small'){
        margin-bottom: 40px;
        padding: 0 80px;
        font-size: .8em;
        order: initial;
    }

    @include respond-to('large'){
        margin-bottom: 0;
    }
}

// Browser styling
.browser-window {
    position:relative;
    width: 50%;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;

    & > img {
        width: 100%
    }

    @include respond-to('small') {
        width: 90%;
    }

    @include respond-to('large'){
        left: 50%;
        width: 75%;
        background-color: #fff;
        position: absolute;
    }
}

.browser-bar {
    background-color: $lightest-grey;
    text-align: left;
    padding: 0 10px;
    font-size: .7em;

    border-radius: 8px 8px 0 0;

    @include respond-to('medium') {
        font-size: .8em;
    }

    @include respond-to('large') {
        font-size: 1em;
    }
}

.browser-button {
    display: inline-block;
    height: .7em;
    width: .7em;
    border-radius:10px;

    &.red {
        background-color: #FF6057;
    }

    &.amber {
        background-color: #FFBF2F;
    }

    &.green {
        background-color: #00BF2F;
    }
}

// Web App service
.web-app-icons {
    position: relative;
    text-align: center;
    font-size:.4em;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;

    & > div {
        width: 100%;
        max-width: 450px;
        margin: auto;        

        @include respond-to('large'){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @include respond-to('small'){
        font-size: .65em;
        margin: 30px 0 0 0;
        width: 100%;
    }

    @include respond-to('medium'){
        
    }

    @include respond-to('large'){
        font-size: 1em;
        width: 50%;
    }
}

.icon-container__1-3 {
    width: 33.3333%;
}

.icon-container__1-2 {
    width: 50%;
}

.icon-container__1-1 {
    width: 100%;

    &.margin {
        margin: 15px 0;

        @include respond-to('small') {
            margin: 30px 0;
        }
    }
}

.web-app-icon{
    width: 4.5em;
}

// Support service
.support-cog {
    position: absolute;
    width: 40%;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);

}