// -----------------------------------------------------------------------------
// This file contains all styles related to the service banner component.
// -----------------------------------------------------------------------------
.service-banner__content {
    margin: 2em;
    padding: 2em;
    font-size: .7em;
    background-color: $background-color;

    & h2 {
        color: $dark-grey;
        margin: 0;
    }

    & p {
        margin-bottom: 2em;
    }

    @include respond-to('small') {
        font-size: .85em;
        margin: 4em;
    }

    @include respond-to('medium') {
        font-size: 1em;
    }
}

.sub-service-banner__container {
    & h2 {
        color: $secondary-text-color;
        padding: 1em;
        margin: 0;
        text-align: center;
        font-size: .9em;

        @include respond-to('small') {
            font-size: 1.15em;
        }

        @include respond-to('medium'){
            text-align: right;
            font-size: 1.5em;
        }
    }
}