// -----------------------------------------------------------------------------
// This file contains all styles related to the solid banner component.
// -----------------------------------------------------------------------------
.solid-banner {
    @extend .banner;

    height: 175px;

    @include respond-to('small') {
        height: 225px;
    }

    &.primary {
        @include solid-banner-theme($dark-blue, $secondary-text-color);
    }

    &.secondary {
        @include solid-banner-theme($light-orange, $secondary-text-color);
    }

    &.tertiary {
        @include solid-banner-theme($light-green, $secondary-text-color);
    }
}