// -----------------------------------------------------------------------------
// This file contains all styles related to the team member component.
// -----------------------------------------------------------------------------
.team-member-info {
    padding: 0 30px;
    margin: 25px 0;
    font-size: 0.7em;
    order: 1;

    @include respond-to('small'){
        font-size: 0.8em;
    }
    
     @include respond-to('large'){
        order: inherit;
    }
}

.team-member-header {
    display: inline-block;
    
    & > h1 {
        margin: 0;
        font-family: $header-font;
        text-transform: uppercase;
    }

    & > h2 {
        margin: 0;
        font-size: 1.85em;
        font-family: $header-font;
    }

    & > p {
        font-size: 18px;
    }
}

.team-member-divider {
    height: 5px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.team-member-image {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('./../assets/img/tpa-logo.png');
    width: 100%;
    height: 350px;

    @include respond-to('large') {
        height: auto;
        width: 50%;
    }
}

.skills-section {
    & > h1 {
        font-size: 1.7em;
        text-transform: uppercase;
        font-family: nevis;
        text-align: center;
    }
}

.skill-container {
    display: inline-block;
    margin: 0 5px;

    & > p {
        margin: 0;
        font-size: 1.15em;
    }
}