// -----------------------------------------------------------------------------
// This file contains all styles related to the testimonial component.
// -----------------------------------------------------------------------------
.testimonial {
    padding: 0 20px;

    & .testimonial-text-container {
        order: 2;
    
        @include respond-to('medium') {
            order: inherit;
        }
    }

    @include respond-to('medium') {
        padding: 20px;
    }
}

.testimonial-img-container {
    position: relative;
    width: 100%;
    height: 100px;

    @include respond-to('medium') {
        width: 25%;
        height:auto;
    }
}

.testimonial-img {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
}