// -----------------------------------------------------------------------------
// This file contains all styles related to the underline component.
// -----------------------------------------------------------------------------
.underline {
    position: relative;
    display: inline-block;

    &.service-header.website:after {
        content: "";
        display: block;
        position: absolute;
        @include underline-theme($dark-blue, .2em, 40%);
    }
}